doctype html
html
  head
    title SNAP!
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/phaser.js')
    
  body

    #gameContainer
    script(src='https://cdn.socket.io/socket.io-1.1.0.js')
    script(src='/js/main.js')
