<html>
  <head>
    <title>Mobile Snap!</title>
    <link rel='stylesheet' href='/css/style.css'>
    <script src="http://fb.me/react-0.12.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.1.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
  </head>
  <body>
    <form action="" id="nameForm" onSubmit='return false;'>
      <input id="nameInput" type="text" class="gameInput" placeholder="Enter name">
    </form>
    <div id="content" style="display: none"></div>
    <script type="text/jsx" src="/js/mobile.js"></script>
  </body>
</html>
