html,body {
    background:#222;
    overflow:hidden;
}
#nameForm {
    vertical-align:middle;
}
#wrapper {
    position:absolute; 
    top:0;
    bottom:0;
}
#credits {
    color:#ccc;
}
#main {
    padding:15px;
    width:80%;
    height:90%;
    border:1px solid #3388bb;
    margin-bottom:0;
}

#gameState {
    visibility:hidden;
    height:83%;
}

#wordList {
    height:100px;
    overflow:auto;
}
#wordForm {
    position:relative:
    bottom:10px;
}
#topp {
    height:13%;
}
#word {
    border: 1px solid #3388bb;
}

#name {
    border: 1px solid #3388bb;
}

.snappedWord {
    color:#12bb24;
}

.jumbotron {
    padding-top:30px;
}

#info {
    font-size:20px;
    color:#3388bb;
}

.alert-success {
    background: none;
    border: none;
}
