#main {
    width:70%;
}

#gameState {
    visibility:hidden;
    height:0px;
}

#wordList {
    height:100px;
    overflow:auto;
}

#word {
    margin-top:10px;
    border: 1px solid #999;
}

#name {
    border: 1px solid #999;
}

.snappedWord {
    color:#12bb24;
}

.jumbotron {
    padding-top:30px;
}

#info {
    font-size:20px;
}
